
@{
    ViewData["Title"] = "Http";
}
<script src="~/lib/angular/angular.min.js" type="text/javascript"></script>

<h2>Http</h2>


<div ng-app="myApp" ng-controller="customersCtrl">
    <ul>
        <li ng-repeat="x in myData">
            {{ x.Name + ', ' + x.Country }}
        </li>
    </ul>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {
        $http.get("customers.php").then(function (response) {
            $scope.myData = response.data.records;
        });
    });
</script>

@*sample http call*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>Data : {{content}}</p>
        <p>Status : {{statuscode}}</p>
        <p>StatusText : {{statustext}}</p>
    </div>
    <p>The response object has many properties. This example demonstrate the value of the data, status, and statusText properties.</p>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("../html/welcome.htmls")
                .then(function (response) {
                    //First function handles success
                    $scope.content = response.data;
                    $scope.statuscode = response.status;
                    $scope.statustext = response.statusText;
                }, function (response) {
                    //Second function handles error
                    $scope.content = "Something went wrong";
                });
        });
    </script>*@

@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>Today's welcome message is:</p>
        <h1>{{myWelcome}}</h1>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("../html/welcome.html11")
                .then(function (response) {
                    $scope.myWelcome = response.data;
                }, function myError(response) {
                    $scope.myWelcome = response.statusText; //Not found
                });
        });
    </script>*@

@*
    $http is an AngularJS service for reading data from remote servers.

    AngularJS $http
    - The AngularJS $http service makes a request to the server, and returns a response.

    Methods
    - The example above uses the .get method of the $http service.
    - The .get method is a shortcut method of the $http service. There are several shortcut methods:
        .delete()
        .get()
        .head()
        .jsonp()
        .patch()
        .post()
        .put()

    The methods above are all shortcuts of calling the $http service:
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http({
            method : "GET",
            url : "welcome.htm"
        }).then(function mySuccess(response) {
            $scope.myWelcome = response.data;
        }, function myError(response) {
            $scope.myWelcome = response.statusText;
        });
    });

    Properties
        The response from the server is an object with these properties:

        .config the object used to generate the request.
        .data a string, or an object, carrying the response from the server.
        .headers a function to use to get header information.
        .status a number defining the HTTP status.
        .statusText a string defining the HTTP status.

    JSON
        - The data you get from the response is expected to be in JSON format.
        - JSON is a great way of transporting data, and it is easy to use within AngularJS, or any other JavaScript.

*@