
@{
    ViewData["Title"] = "Services";
}
<script src="~/lib/angular/angular.min.js" type="text/javascript"></script>

<h2>Services</h2>

@*location*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>The url of this page is:</p>
        <h3>{{myUrl}}</h3>
    </div>

    <p>This example uses the built-in $location service to get the absolute url of the page.</p>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $location) {
            $scope.myUrl = $location.absUrl();
        });
    </script>*@


@*http*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>Today's welcome message is:</p>
        <h1>{{myWelcome}}</h1>
    </div>
    <p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("welcome.htm").then(function (response) {
                $scope.myWelcome = response.data;
            });
        });
    </script>*@

@*timeout*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>This header will change after two seconds:</p>
        <h1>{{myHeader}}</h1>
    </div>
    <p>The $timeout service runs a function after a specified number of milliseconds.</p>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $timeout) {
            $scope.myHeader = "Hello World!";
            $timeout(function () {
                $scope.myHeader = "How are you today?";
            }, 2000); //time in ms
        });
    </script>*@


@*interval*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>The time is:</p>
        <h1>{{theTime}}</h1>
    </div>
    <p>The $interval service runs a function every specified millisecond.</p>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $interval) {
            $scope.theTime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.theTime = new Date().toLocaleTimeString();
            }, 1000);
        });
    </script>*@

@*custom service*@
@*<div ng-app="myApp" ng-controller="myCtrl">
        <p>The hexadecimal value of 255 is:</p>
        <h1>{{hex}}</h1>
    </div>
    <p>A custom service with a method that converts a given number into a hexadecimal number.</p>
    <script>
        var app = angular.module('myApp', []);
        //custom service
        app.service('hexafy', function () {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });
        app.controller('myCtrl', function ($scope, hexafy) {
            $scope.hex = hexafy.myFunc(255);
        });
    </script>*@


@*custom service with custom filter*@
<div ng-app="myApp" ng-controller="myCtrl">
    <p>Use a filter when displaying the array [255, 251, 200]:</p>
    <ul>
        <li ng-repeat="x in counts">{{x | myFormat}}</li>
    </ul>
    <p>This filter uses a service that converts numbers into hexadecimal values.</p>
</div>
<script>
    var app = angular.module('myApp', []);
    app.service('hexafy', function () {
        this.myFunc = function (x) {
            return x.toString(16);
        }
    });
    app.filter('myFormat', ['hexafy', function (hexafy) {
        return function (x) {
            return hexafy.myFunc(x);
        };
    }]);
    app.controller('myCtrl', function ($scope) {
        $scope.counts = [255, 251, 200];
    });
</script>


@*
    AngularJS Services
        - In AngularJS you can make your own service, or use one of the many built-in services.

    What is a Service?
        - In AngularJS, a service is a function, or object, that is available for, and limited to, your AngularJS application.
        - AngularJS has about 30 built-in services. One of them is the $location service.
        - The $location service has methods which return information about the location of the current web page

    Use the $location service in a controller:
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $location) {
            $scope.myUrl = $location.absUrl();
        });

    Why use Services?
        - AngularJS constantly supervises your application, and for it to handle changes and events properly,
          AngularJS prefers that you use the $location service instead of the window.location object.

    The $http Service
        - The $http service is one of the most common used services in AngularJS applications.
        - The service makes a request to the server, and lets your application handle the response.

        - Use the $http service to request data from the server
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $http.get("welcome.htm").then(function (response) {
                $scope.myWelcome = response.data;
            });
        });

    The $timeout Service
        - The $timeout service is AngularJS' version of the window.setTimeout function.


    The $interval Service
        - The $interval service is AngularJS' version of the window.setInterval function.


    Create Your Own Service
        - To create your own service, connect your service to the module:
        Create a service named hexafy:
        app.service('hexafy', function() {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });

        - To use your custom made service, add it as a dependency when defining the controller:
        app.controller('myCtrl', function($scope, hexafy) {
            $scope.hex = hexafy.myFunc(255);
        });


*@