
@{
    ViewData["Title"] = "Services";
}

<h2>Services</h2>

@*
    AngularJS Services
        - In AngularJS you can make your own service, or use one of the many built-in services.

    What is a Service?
        - 


*@